@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: rgb(241, 241, 241);
  border: .15rem rgb(8, 145, 178, .45) solid;
  border-radius: .15rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(8, 145, 178, .55);
  border-radius: .15rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(8, 145, 178, .65);
}